
        <ul>
            <%  for(var x in lista) { %>
                <li> <%= lista[x] %>
                    <form action="<%=name%>" method="post">
                        <input type="submit"  name="x" value="<%= x %>" />
                    </form>
                </li>
            <% } %>
        </ul>