<%- include("partials/header"); %>

    
<div class="noticia">
    <img class="izquierda" src="/images/1.jpg" width="50%" height="auto">
    <aside> 
        <h4><b>Welcome, everyone!</b></h4>
        <p> "At Least One Bite", it's a perfect page for people who have recipes that they want to share to the lovers of food...</p><aside>
           <b>All eaters are welcome.</b>
        <hr size="4%" background="black">
        Whether you’re new to just one bite or have been around for a while, we’re so glad you’re here.
    <div class="reset"></div>
  </div>



<nav class="navbar2 navbar-expand-lg">   
<h4 align="center"><b></b> OUR ICON SYSTEM TO HELP YOU IDENTIFY DIETARY NEEDS</h1></b>
    <div class="container" id ="galeriam1">
      <div class="row">
        <div class="col-sm imgcont">
          <a href="/">
          <img  class="d-block imggal" src="/images/3.jpg"  ></a>
          <div class="middle">
            <div class="texto-galeria"> VEGAN </div>
          </div>
        </div>
        <div class="col-sm imgcont">
          <a href="/">
          <img class="d-block imggal" src="/images/2.jpg"  ></a>
          <div class="middle">
            <div class="texto-galeria">GLUTEN FREE</div>
          </div>
        </div>
        <div class="col-sm imgcont">
            <a href="/">
            <img class="d-block imggal" src="/images/5.jpg"  ></a>
            <div class="middle">
              <div class="texto-galeria">DAIRY FREE</div>
            </div>
          </div>
        <div class="col-sm imgcont">
            <a href="/">
            <img class="d-block imggal" src="/images/6.jpg"  ></a>
            <div class="middle">
              <div class="texto-galeria">NATURALLY SWEETENED</div>
            </div>
          </div>
        <div class="col-sm imgcont">
            <a href="/">
            <img class="d-block imggal" src="/images/2.jpg"  ></a>
            <div class="middle">
              <div class="texto-galeria">GLUTEN FREE</div>
            </div>
          </div>
        <div class="col-sm imgcont">
          <a href="/">
          <img class="d-block imggal" src="/images/4.jpg"></a>
          <div class="middle">
            <div class="texto-galeria">VEGETARIAN</div>
          </div>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
</nav>

  <div class="noticia2">
    <h5><b>Want more
        deliciousness?</b></h5>
    <aside> 
        <hr size="4%">
        <div>Check our main page and see the recipes that our followers upload or post any recipes that you want to add and share.</p><aside>
            Whether you’re new to just one bite or have been around for a while, we’re so glad you’re here.</div>
            <form class="d-flex" id="botonesinicio" >
                <button class="btn btn-outline-secondary boton2" type="button" id="iniciarsesion" onclick= "window.location.href = '/Public/html/publicar.html' ; ">Share</button>
            </form>
    <div class="reset"></div>
  </div>


  <div class="noticia">
    <aside> 
        <h4><b>Does "At Least One Bite" mean only dessert?</b></h4>
        <p> While there’s always been a love for sweet things, At Least One Bite is about much more. We love our hearty entrées as much as we love our decadent desserts. Whether you have dietary restrictions or not, we hope you’ll find something you love here. Find all of our recipes here.</p><aside>
        <hr size="4%" background="black">
        <div class="container" id ="galeriam1">
            <div class="row">
              <div class="col-sm imgcont">
                <a href="/">
                <img class="d-block imggal" src="/images/7.jpeg"  ></a>
              </div>
              <div class="col-sm imgcont">
                  <a href="/">
                  <img class="d-block imggal" src="/images/8.jpeg"  ></a>
                </div>
              <div class="col-sm imgcont">
                  <a href="/">
                  <img class="d-block imggal" src="/images/9.jpeg"  ></a>
                </div>
              <div class="col-sm imgcont">
                <a href="/">
                <img class="d-block imggal" src="/images/10.jpeg"></a>
              </div>
              <div class="w-100"></div>
            </div>
          </div>
  </div>




  <%- include("partials/footer"); %>