<%- include("partials/header"); %>

    <div class="noticia2">
    <h5><b> Submit Your Recipe:</b></h5>
    <aside> 
        <hr size="4%">
        <div>
            <form action ="/publicar" method="POST" id="recetas">
            <div class="form-group">
                <h4>Nombre de la Receta</h4>
                <input type="text" class="form-control" id="formGroupExampleInput" name="recipeName">
            </div>
                <div class="form-group">
                  <h4>Acerca de la Receta</h4>
                  <input type="text" class="form-control" id="formGroupExampleInput2" name="talkusabouttherecipe">
                </div>
              </br>
            </form>
              <div class="form-group">
                  <h4>Ingredientes</h4>
                  <%- include("partials/renderslista", {lista: ingredients, name: "/publicar/dIngredientes"}); %>
                  <form action ="/publicar/Ingredientes" method="POST">
                    <!--Aqui hagan un forma, para que reciba un ingrediente y lo mande-->
                    <input type="text" class="form-control" id="formGroupExampleInput" name="ingrediente">
                    <button class="btn btn-outline-secondary boton-forms" type="submit" id="agregar" >Agregar Ingrediente</button>
                  </form>
              </div>
              <div class="form-group">
                <h4>Preparacion</h4>
                  <%- include("partials/renderslista", {lista: steps, name: "/publicar/dPreparacion"}); %>
                <form action ="/publicar/Preparacion" method="POST">
                  <!--Aqui hagan un forma, para que reciba un ingrediente y lo mande-->
                    <input type="text" class="form-control" id="formGroupExampleInput" name="paso">
                    <button class="btn btn-outline-secondary boton-forms" type="submit" id="agregar" >Agregar Paso</button>

                </form>
                  
              </div>
              <button class="btn btn-outline-secondary boton2 boton-forms" type="submit" id="iniciarsesion" form ="recetas">Submit</button>
              <button class="btn btn-outline-secondary boton2 boton-forms" type="reset" id="iniciarsesion" form ="recetas">Clear</button>
              
            
    <div class="reset"></div>
  </div>
 


  <%- include("partials/footer"); %>