body{
    background-color:white ;
}

*{
    font-family: 'Freehand', cursive;
    font-family: 'Playfair Display', serif;
}


.navbar{
    background-color: black;
    font-size: 25px;
    font-weight: 400;
    position: relative;
}


.navbar2{
    background-color: #FFDED6;
    font-size: 25px;
    font-weight: 400;
    position: relative;
}

.nav-link{
    color: white;
    margin-top: 10px;
}



.nav-link:hover{
    color: #FFDED6;
}

#botonesinicio{
    position: relative;
}


#iniciarsesion{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border: white 2px solid;
    transition: transform 0.3s ease;
    display: block;
    width: 150px;
}

#iniciarsesion:hover{
    color: black;
    background-color: #FFDED6;
    cursor: pointer;
    transform: scale(1.05);
}


.noticia {
    width: 80%;
    margin: 20px auto;
    background-color: #FBF8F3;
    color: black;
    padding: 15px;
    font-weight: 400;
}
 
h4{
    font-family: 'Playfair Display', serif;
}


.noticia img.izquierda {
    float: left;
    margin-right: 15px;
}
  

  
.reset {
    clear: both;
}

.noticia2{
    width: 80%;
    margin: 20px auto;
    background-color: #003811;
    color: white;
    padding: 15px;
    font-weight: 400;
}

.boton2{
    width: 50%;
    position: relative;
    margin-left: 40%;
    margin-right: 30%;
    display: block;
}



h1{
    color: black;
    display: block;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

#galeriam1{
    position: relative;
}
.imggal{
    height: 100%;
    width: 100%;
    position: relative;
}
.imgcont{
    position: relative;
    margin-bottom: 10px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 90%;
}
.texto-galeria{
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
  
.imgcont:hover .middle {
    opacity: 1;
}

h5{
    color: #FFDED6;
    text-align: center;
}

.boton-forms{
    display: inline-block;
}

#agregar{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border: white 2px solid;
    transition: transform 0.3s ease;
    display: block;
    width: 150px;
}

#agregar:hover{
    color: black;
    background-color:darkkhaki;
    cursor: pointer;
    transform: scale(1.05);
}

#recomendaciones{
    font-weight: lighter;
    color: grey;
    background-color: wheat;
}